<!DOCTYPE html>
<html>
    <head>
        <title>Home Automation System</title>
    <link rel="icon" href= "/img/home.png">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" href='/css/styles.css'>
</head>
    
    <body>
            <div class="main-content">
                {{>header}}

                <p>Use this site to access all your devices</p>
                <ul >
                     {{#each devices}}
                    <li >
                        <div class="device">{{name}}<button class="delete" data-uploadValue={{_id}} >x</button>
                        <p>Status: <span id="toggle">{{status}}</span></p>
                        <button class="update" data-uploadValue={{status}} data-deviceId={{_id}}>Change</button>
                        <!--<label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                        </label>-->
                        </div>
                    </li>
                    
                    {{/each}}
                </ul>
                <button id="addDevice">Add new Device</button>
                <form style="display:none">
                    Device Name <input type="text" id="deviceName"><br>
                    Device Id<input type="text" id="deviceId"><br>
                    <button  >Submit</button>
                </form>
            </div>
            <script src="/js/app.js"></script>
        </body>

</html>